p {font-size: 20px;}

.rotated {
    background-color: pink;
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    }

table{
    font-size: 50px;
}
tr#reviewTable{
    background-color:gray;
    font-size: 20px;
}


body.italicBodyInherit{
    font-size: large;
}

main {
    flex: 1;
    background-color: rgb(168, 157, 157);
    display: flex;
    justify-content: space-between;
    outline: 1px solid black; /*for easy visualisation */
    margin-top: 15px;
  }

table{
    font-size: larger;
}
.flex_element{
    padding: 10px; 
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    align-items: center;
    padding: 20px;
}

select{
    width: 50px;
    height: 50px;
    font-size: 20px;
}

input{
    font-size: 60px;
    width: 800px;
    }

.reviews{
    background-color: cyan;
    font-size: large;

}